# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
Pipfile.lock

# poetry
poetry.lock

# pdm
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582 (Python local packages)
__pypackages__/

# Celery
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
.idea/

# Ruff
.ruff_cache/

# Jupyter and Pytest cache
.pytest_cache
.ipynb_checkpoints

# Other editor or IDE-specific files
.vim
.codemod.bookmark
.telemetry

# Telemetry instance ID
.telemetry

# Gatsby and Next.js
docs/gatsby/**/node_modules/
docs/gatsby/**/_build
docs/gatsby/**/public
docs/next/.mdx-data
docs/next/public/sitemap.xml

# Data files
data
!examples/*/data
!examples/**/**/data

# Dask
dask-worker-space

# Examples outputs
examples/docs_snippets/docs_snippets/**/**/output/
examples/docs_snippets/docs_snippets/**/**/output/
examples/**/**/example.db

# DuckDB database files
*.duckdb

# PyRight config
pyrightconfig*

# Scripts working directory
scripts/.build

# dbt .user files
.user.yml

# Miscellaneous
.DS_Store
tags

# temporary folder of Dagster
tmp.*
foot_sa_etl/tmp431cfd4f/history/runs.db
foot_sa_etl/tmp431cfd4f/history/runs/index.db
foot_sa_etl/tmp431cfd4f/schedules/schedules.db
foot_sa_etl/tmpy9jgez0k/history/runs.db
foot_sa_etl/tmpy9jgez0k/history/runs/index.db
foot_sa_etl/tmpy9jgez0k/schedules/schedules.db
foot_sa_etl/foot_sa_etl/assets/gold_assets/test.ipynb

uv.lock
foot_sa_etl/foot_sa_etl/assets/gold_assets/test.ipynb
*test.ipynb
**/compute_logs/
**/history/
**/runs/
**/schedules/